<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .graph-container {
            display: flex;
            flex-wrap: wrap;
        }
        .graph-container img {
            max-width: 500px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Test case results for system benchmarking</h1>
    <h3> Results for {{ test_case_name }} - {{ test_case_desc }} </h3>
    <div class="graph-container">
        {% for graph in graphs %}
            <img src="data:image/png;base64,{{ graph }}" alt="Graph">
        {% endfor %}
    </div>
</body>
</html>