
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Results</title>
  <!-- Tailwind CSS via CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col items-center justify-center p-5 bg-gradient-to-r from-[#1e293b] to-[#111827]">
  <!-- Header -->
  <div class="text-center mb-5">
    <h1 class="text-2xl text-gray-300 mb-2">Test Case Results for System Benchmarking</h1>
    <h3 class="text-lg text-slate-400">Results for {{ test_case_name }} - {{ test_case_desc }}</h3>
  </div>

  <!-- Graph Container -->
  <div class="flex flex-wrap justify-center gap-12 max-w-5xl w-full">
    {% for graph in graphs %}
      <img 
        class="w-full md:w-[45%] max-w-full h-auto border border-gray-300 rounded-lg shadow-md transform transition duration-200 hover:scale-105" 
        src="data:image/png;base64,{{ graph }}" 
        alt="Graph"
      >
    {% endfor %}
  </div>

  <!-- Information Container -->
  <h2 class="text-2xl text-[#377ddf] mt-8 mb-4">Graph Explanation</h2>
  <div class="grid grid-cols-2 gap-4 max-w-5xl w-full mt-5">

    <div class="bg-white shadow-md p-4 border border-gray-300 font-sans text-[#7795be] text-left rounded-xl border border-gray-300 rounded-lg shadow-md transform transition duration-200 hover:scale-105">
      <p class="font-bold mb-2">DEFINITIONS:</p>
      <ul class="list-disc ml-4">
        <li>User time - Amount of time spent <span class="font-bold">outside</span> of the kernel.</li>
        <li>System time - Amount of time spent <span class="font-bold">inside</span> the kernel.</li>
        <li>Real time - CPU time or Clock time.</li>
        <li>Memory - Maximum resident set size of the type checking command, in Megabytes.</li>
      </ul>
    </div>

    <div class="bg-white shadow-md p-4 border border-gray-300 text-left rounded-xl border border-gray-300 rounded-lg shadow-md transform transition duration-200 hover:scale-105">
      <div class="text-base font-sans text-[#7795be]">
        For each proof assistant, if there is a red 'X' marker it indicates that the test case exceeded memory, and a blue 'X' marker indicates a time limit exceeded. <br/>
        {% if errors %}
          <p class="mt-4 font-bold">TIMEOUT INFO:</p>
          <ul class="list-disc ml-4">
            {% for error in errors %}
              <li>{{ error.language }} has a <span class="font-bold italic">{{ error.type_of_error }}</span> error at size {{ error.size }}.</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>

    <div class="bg-white shadow-md p-4 border border-gray-300 font-sans text-[#7795be] text-left rounded-xl border border-gray-300 rounded-lg shadow-md transform transition duration-200 hover:scale-105">
      <p class="font-bold mb-2"> LOG LOG PLOT:</p>
      <ul class="list-disc ml-4">
        <li> For the log plots, the y axis is the log value of the time in base 2. </li>
      </ul>
    </div>
  </div>
  

</body>
</html>
